.TraderCard {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 14px;
    background: #FFF;
}